node_modules
build
public
*.config.js
*.d.ts
lib/
es/
dist/
build/
public/
coverage/
locales/
.gitignore
.npmignore
.prettierignore
.stylelintignore
.DS_Store
.editorconfig
.eslintignore
.history
.bablerc
.eslintrc
.eslintrc.json