**/*.png
**/*.svg
CODEOWNERS
.dockerignore
Dockerfile.ui-test
AUTHORS.txt
lib/
es/
dist/
build/
public/
coverage/
environments/
CNAME
LICENSE
README.md
package.lock
yarn.lock
yarn-error.log
pnpm-lock.yaml
.vscode
.gitignore
.npmignore
.prettierignore
.stylelintignore
.DS_Store
.editorconfig
.eslintignore
.eslintcache
.history
**/*.yml
**/.gitkeep