{
	"extends": [
		"stylelint-config-standard-scss",
		"stylelint-config-recommended-vue/scss",
		"stylelint-config-prettier-scss"
	],
	"plugins": ["stylelint-scss"],
	"rules": {
		"scss/at-rule-no-unknown": [
			true,
			{
				"ignoreAtRules": ["tailwind", "apply", "variants", "responsive", "screen", "layer"]
			}
		],
		"property-no-vendor-prefix": null
	}
}
